<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
	</form>
	<label for="Video_Code">Enter Chat Code</label>
    <input type="text" name="Video_Code" placeholder="Enter Chat Code">
	<label for="Initiate_Video">Initiate Video Call</label>
</body>
</html>